openapi: 3.0.0
info:
  title: YOVI Users API
  description: REST API to manage YOVI application users, statistics and rankings.
  version: 1.0.0
servers:
  - url: https://api.micrati.com/users
    description: Production server
  - url: http://api.localhost/users
    description: Local server

paths:
  /health:
    get:
      summary: Health check
      responses:
        "200":
          description: Server running
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  timestamp:
                    type: string

  /api/auth/register:
    post:
      summary: Register new user
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - email
                - password
              properties:
                username:
                  type: string
                  example: player1
                email:
                  type: string
                  format: email
                  example: player1@example.com
                password:
                  type: string
                  format: password
                  minLength: 6
                  example: password123
      responses:
        "201":
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User registered successfully
                  user:
                    $ref: "#/components/schemas/UserProfile"
        "400":
          description: Validation error or username/email already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/auth/login:
    post:
      summary: User login
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: player1@example.com
                password:
                  type: string
                  format: password
                  example: password123
      responses:
        "200":
          description: Successful login
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Login successful
                  token:
                    type: string
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  user:
                    $ref: "#/components/schemas/UserProfile"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthError"

  /api/auth/profile:
    get:
      summary: Get authenticated user profile
      tags:
        - Authentication
      security:
        - bearerAuth: []
      responses:
        "200":
          description: User profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
    put:
      summary: Update user profile
      tags:
        - Authentication
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: Profile updated
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /api/auth/change-password:
    put:
      summary: Change user password
      tags:
        - Authentication
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currentPassword, newPassword]
              properties:
                currentPassword:
                  type: string
                newPassword:
                  type: string
                  minLength: 6
      responses:
        "200":
          description: Password updated
        "400":
          $ref: "#/components/schemas/Error"

  /api/auth/account:
    delete:
      summary: Deactivate user account
      tags:
        - Authentication
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Account deactivated

  # --- STATS ENDPOINTS ---
  /api/stats/history:
    get:
      summary: Get match history
      tags:
        - Statistics
      security:
        - bearerAuth: []
      responses:
        "200":
          description: List of matches
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MatchRecord"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /api/stats/winrate:
    get:
      summary: Get win rate
      tags:
        - Statistics
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Win rate statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  winrate:
                    type: number
                    example: 65.5
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /api/stats/record:
    post:
      summary: Record a new match
      tags:
        - Statistics
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [opponentName, result, durationSeconds]
              properties:
                opponentName:
                  type: string
                result:
                  type: string
                  enum: [win, loss, draw]
                durationSeconds:
                  type: integer
      responses:
        "201":
          description: Record saved
        "500":
          $ref: "#/components/schemas/Error"

  # --- RANKING ENDPOINTS ---
  /api/ranking/{mode}:
    get:
      summary: Get ranking by mode
      tags:
        - Ranking
      parameters:
        - name: mode
          in: path
          required: true
          schema:
            type: string
            enum: [pve-easy, pve-medium, pve-hard]
      responses:
        "200":
          description: Ranking list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RankingEntry"
        "400":
          description: Invalid mode

  /metrics:
    get:
      summary: Prometheus metrics
      tags:
        - Monitoring
      responses:
        "200":
          description: Metrics
          content:
            text/plain:
              schema:
                type: string

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    UnauthorizedError:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AuthError"

  schemas:
    UserProfile:
      type: object
      properties:
        id:
          type: integer
        username:
          type: string
        email:
          type: string
        role:
          type: string
          enum: [player, admin]
        createdAt:
          type: string
          format: date-time
        lastLogin:
          type: string
          format: date-time
          nullable: true

    MatchRecord:
      type: object
      properties:
        id:
          type: integer
        opponentName:
          type: string
        result:
          type: string
        durationSeconds:
          type: integer
        timestamp:
          type: string
          format: date-time

    RankingEntry:
      type: object
      properties:
        username:
          type: string
        score:
          type: integer
        rank:
          type: integer

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: string

    AuthError:
      type: object
      properties:
        error:
          type: string
        message:
          type: string